<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
<title>halaman utama</title>
</head>
<body>
    <div class="container">
    <h1>Halaman Utama</h1>
    <p>Silakan pilih opsi yang ingin dilakukan</p>
    <br>
    <form action="/search">
        <input type="submit" value="Cari Info Mahasiswa">
    </form><br>
    <form action="/register">
        <input type="submit" value="Masukkan Data Baru">
    </form><br>
    <form action="/baru">
        <input type="submit" value="Perbarui Data">
    </form><br>
    <form action="/hapus">
        <input type="submit" value="Hapus Data">
    </form><br>
</body>